<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xianling.jian">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Top4Activity1" />
        <activity android:name=".Top4Activity2" />
        <activity android:name=".YjfkActivity" />
        <activity android:name=".JjActivity" />
        <activity android:name=".HyActivity" />
        <activity android:name=".YhxyActivity" />
        <activity android:name=".YszcActivity" />
        <activity android:name=".ZdwlActivity" />
        <activity android:name=".TstzActivity" />
        <activity android:name=".HmdActivity" />
        <activity android:name=".LxszActivity" />
        <activity android:name=".YindaoActivity" />
        <activity android:name=".Top5Activity" />
        <activity android:name=".Register" />
        <activity android:name=".PublicStory" />
        <activity android:name=".PrivateStory" />
        <activity android:name=".CollectActivity" />
        <activity android:name=".LikeActivity" />
        <activity android:name=".TjgzActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".BianjiActivity" />
        <activity android:name=".MiaoshiActivity" />
        <activity android:name=".WenzhangActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
